@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/britti-sans-regular.woff') format('opentype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/britti-sans-medium.woff') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/britti-sans-semibold.woff') format('opentype');
  font-weight: 500; /* SemiBold */
  font-style: normal;
}

/* Scroll minimalista */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.4s ease-in-out;
}

